/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/***Global***/
html, body { 
	font-family: 'Raleway', sans-serif;
}

/***Header***/

#logo img {

	margin: 0 auto;
	display: block;
	padding-top: 4%;
}

/*** facilcorp row***/

#section {
	background: #0084B4;
	margin-top: 5%;
	padding-bottom: 5%;
}

#facilcorp h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
    font-weight: 900;
    margin-left: 60%;
    color: white;
    padding-top: 10%;
}

#facilcorp p {
	color: white;
	margin-left: 50%;
	line-height: 1.4em;
	font-size: 25px;
}

#facilcorp_logo img {
	padding-top: 5%;
	margin-left: 5%;
}

/***tipple row***/

#tipple {
	margin-top: 5%;
	padding-bottom: 5%;
}

#tipple img {
	margin-top: -5%;
	float: right;
	margin-right: 8%;
}

#tipple h1 {
	color: black;
	padding-top: 3%;
	font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

#tipple p {
	font-size: 25px;
}

/***team row***/

#team {
	padding-top: 1%;
	padding-bottom: 2%;
	background: #fee9c1;
}

#team h1 {
	color: #2d2725;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
    font-weight: 900;
    margin-left: 65%;
    padding-top: 4%;
}

#team p {
	color: #2d2725;
	margin-left: 50%;
	line-height: 1.4em;
	font-size: 25px;
}

#team_logo img {
	padding-top: 20%;
	margin-left: 5%;
	padding-bottom: 2%;
}

.name {
		color: #2d2725;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 25px;
    	font-weight: 900;
    	margin-left: 5%;
	}

/***contact***/

#contact {

	text-align: center;	
	padding-top: 5%;
	padding-bottom: 5%;

	h1 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
    	font-weight: 900;
	}
}


/***footer***/
footer p {
	text-align: center;
}


/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 

	#logo img {
		margin: 0 auto;
		display: block;
		padding-top: 13%;
		padding-bottom: 13%;
	}

	#section {
		background: #0084B4;
		padding-bottom: 5%;
	}
		
	#facilcorp h1 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
	    font-weight: 900;
	    margin-left: 30%;
	    color: white;
	    padding-top: 5%;
	}

	#facilcorp p {
		color: white;
		line-height: 1.4em;
		font-size: 25px;
		margin-left: 20%;
		text-align: left;
	}

	#facilcorp_logo img {
		padding-top: 5%;
		margin-left: 25%;
	}

	/***Team***/

	#team h1 {
		color: #2d2725;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
	    font-weight: 900;
	    margin-left: 40%;
	    padding-top: 4%;
	}

	#team p {
		color: #2d2725;
		margin-left: 10%;
		line-height: 1.4em;
		font-size: 25px;
	}

	#team_logo img {
		padding-top: 5%;
		margin-left: 25%;
	}

	.name {
		color: #2d2725;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 25px;
    	font-weight: 900;
    	margin-left: 25%;
	}

}


